services:
  - name: taishunhe-redis
    type: redis
    plan: starter
    maxmemoryPolicy: allkeys-lru
    ipAllowList:
      - source: 0.0.0.0/0
        description: allow all

  - type: web
    name: taishunhe-backend
    env: docker
    plan: starter
    region: singapore
    dockerfilePath: ./Dockerfile
    autoDeploy: true

    envVars:
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        sync: false
      - key: REDIS_URL
        fromService:
          name: taishunhe-redis
          type: redis
          property: connectionString